/*  RESET  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* ======================= */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

header,
main {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav a {
  font-size: 1.3rem;
  text-decoration: none;
  color: inherit;
}

.brand {
  font-size: 2.5rem;
  color: darkred;
}

main {
  flex: 1;
  display: flex;
  gap: 1.3rem;
}

aside {
  flex-basis: 10%;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
}

aside ul li {
  padding: 0.4em 0.7em;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: darkred;
  color: white;
  border-radius: 5px;
}

article {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

.testimonial {
  padding: 1rem;
  font-style: italic;
  font-weight: 600;
  background-color: rgb(228, 228, 228);
}

footer {
  padding: 1rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: black;
  color: white;
}
